@model List<ITTWEB_Opg1_AdminModul.Models.ComponentType>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Komponenter";
}

<div>
    <h2>Komponent typer</h2>
</div>

<div class="add-wrapper">
    <p>
        <a href="https://www.google.com/search?q=tilf%C3%B8j&ie=utf-8&oe=utf-8">Add</a>
    </p>
</div>

<div class="div-table">
    <table class="table">
        <thead>
            <tr>
                <th>Billede</th>
                <th>Navn</th>
                <th>Info</th>
                <th>Kategori</th>
                <th>Datasheet</th>
                <th>Manufacturer</th>
                <th>Antal</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var component in Model)
                {
                    <tr>
                        <td>
                            <img class="component-type-image" src="@component.LocalImageUrl" />
                        </td>
                        <td>@component.ComponentName</td>
                        <td>@component.ComponentInfo</td>
                        <td>@component.Category.CategoryName</td>
                        <td><a href="@component.Datasheet"></a>LINK</td>
                        <td><a href="@component.ManufacturerLink"></a>LINK</td>
                        <td>//TOTO link til search i komponenter</td>
                        <td><a class="component-edit" href="https://www.google.com/search?q=edit&ie=utf-8&oe=utf-8">Edit</a></td>
                        <td><a class="component-remove" href="https://www.google.com/search?q=edit&ie=utf-8&oe=utf-8#q=remove">Remove</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>