@model List<ITTWEB_Opg1_AdminModul.Models.Component>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Komponenter";
}

@Scripts.Render("~/Scripts/ours/components.js")

<div>
    <h2>Komponenter</h2>
</div>

<div class="add-wrapper">
    <p>
        <a href="https://www.google.com/search?q=tilf%C3%B8j&ie=utf-8&oe=utf-8">Add</a>
    </p>
</div>

<div class="div-table">
    <table class="table">
        <thead>
            <tr>
                <th>Billede</th>
                <th>Komponent nummer</th>
                <th>Serie nummer</th>
                <th>Komponent type</th>
                <th>Udlånt til</th>
                <th>Bruger kommentar</th>
                <th>Admin kommentar</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var component in Model)
                {
                    <tr>
                        <td>
                            @if (component.ComponentType != null && component.ComponentType.LocalImageUrl != null)
                            {
                                <img class="component-type-image" src="@component.ComponentType.LocalImageUrl" />
                            }
                        </td>
                        <td>@component.ComponentNumber</td>
                        <td>@component.SerieNr</td>
                        <td>@component.ComponentType.ComponentName</td>
                        <td>@component.LoanInformation</td>
                        <td>@component.UserComment</td>
                        <td>@component.AdminComment</td>
                        <td><a class="component-edit" href="https://www.google.com/search?q=edit&ie=utf-8&oe=utf-8">Edit</a></td>
                        <td><a class="component-remove" href="https://www.google.com/search?q=edit&ie=utf-8&oe=utf-8#q=remove">Remove</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>