@{
    Layout = null;
}

<div class="col-sm-2">
    <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header navbar-left-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="left-nav-element">@Html.ActionLink("Komponenter", "Index", "Components")</li>
                    <li class="left-nav-element">@Html.ActionLink("Komponent typer", "Index", "Componenttypes")</li>
                    <li class="left-nav-element">@Html.ActionLink("Udlån", "Index", "LoanInformations")</li>
                    <li class="left-nav-element">@Html.ActionLink("Studerende", "Index", "Students")</li>
                    <li class="left-nav-element">@Html.ActionLink("Accounts", "ShowAccounts", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
</div>