@model IEnumerable<ITTWEB_Opg1_AdminModul.Models.ApplicationUser>

@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Roles)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = user.Id }) |
                @Html.ActionLink("Details", "Details", new { id = user.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = user.Id })
            </td>
        </tr>
    }

</table>

